@use "variables";


header {
  background-color: #7c2020;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}



#nav-menu {  
  font-size: variables.$mobileFontSizeTitle;
}

a {
  font-family: variables.$FontText;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto; 
  align-items: center; 
  width: 100%;


  &__logo {
    font-family: variables.$FontLogo;
    font-size: variables.$mobileFontSizeLogo;
    color: variables.$white;
    text-align: left;
  }

  &__burger {
    text-align: right;

  }
}






