@charset "UTF-8";
@font-face {
  font-family: "Impact";
  src: url(./sources/assets/fonts/impact.ttf) format("truetype");
}
@font-face {
  font-family: "Metrophobic";
  src: url(./sources/assets/fonts/Metrophobic-Regular.ttf) format("truetype");
}
.footer {
  background-color: #7c2020;
  width: 100%;
  display: grid;
  color: #fff;
  font-family: "Metrophobic";
  font-size: 10px;
  grid-template-areas: "pages" "pages" "pages" "coordonnees" "coordonnees" "coordonnees" "plus" "plus" "plus" "copyright";
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 25px;
  text-align: center;
  padding: 5%;
}
.footer__pages {
  display: grid;
  row-gap: 25px;
  grid-area: pages;
}
.footer__coordonnees {
  display: grid;
  row-gap: 25px;
  grid-area: coordonnees;
}
.footer__plus {
  display: grid;
  grid-area: plus;
}
.footer__item {
  color: #fff;
  text-decoration: none;
}
.footer__logo {
  font-family: "Impact";
  font-size: 32px;
}
.footer__button {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: solid 4px #fff;
  max-width: 60%;
  border-radius: 3px;
  justify-self: center;
  padding: 2% 10%;
}
.footer__copyright {
  grid-column: 1/5;
  font-size: 8px;
  grid-area: copyright;
}

header {
  background-color: #7c2020;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

#nav-menu {
  font-size: 12px;
}

a {
  font-family: "Metrophobic";
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
  padding: 0;
}
.navbar__logo {
  font-family: "Impact";
  font-size: 32px;
  color: #fff;
  text-align: left;
}
.navbar__burger {
  text-align: right;
}
.navbar .nav-item {
  padding: 0 2%;
}

/*

@use "variables";


header {
  background-color: #7c2020;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}



#nav-menu {  
  font-size: variables.$mobileFontSizeTitle;
}

a {
  font-family: variables.$FontText;
}

.navbar {
  display: flex;
  //grid-template-rows: 1fr auto; 
  align-items: center; 

  width: 100%;


  &__logo {
    font-family: variables.$FontLogo;
    font-size: variables.$mobileFontSizeLogo;
    color: variables.$white;
    text-align: right;
  }

  &__burger {
    text-align: left;

  }
  .nav-item{
    padding:0 5% ;
  }
}


*/
.nouvelles {
  width: 100%;
}
.nouvelles__boxtitre {
  display: flex;
  justify-content: space-between;
}
.nouvelles__titre {
  display: inline-block;
  align-self: self-end;
  margin: 0;
}
.nouvelles__lien {
  display: inline-block;
  color: #5180AB;
  text-decoration: none;
  align-self: self-end;
}
.nouvelles__grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 20px;
  background-color: #C7C7C7;
  padding: 20px;
}
.nouvelles__Item {
  background-color: #D9D9D9;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.nouvelles__Item:hover {
  transform: scale(0.95);
  filter: brightness(0.8);
}
.nouvelles__img {
  text-align: center;
  background-size: cover;
  width: 100%;
  border: 1px solid #1A1423;
  height: 60%;
  grid-area: image;
}
.nouvelles__titreCarte {
  text-align: center;
  padding-top: 10px;
  grid-area: titre;
}
.nouvelles__paraCarte {
  text-align: center;
  grid-area: content;
}
.nouvelles__filtrer {
  background-color: #1C5D99;
  color: #fff;
  padding: 15px;
}
.nouvelles h2 {
  color: #1A1423;
}

.nouvelles2 {
  width: 100%;
}
.nouvelles2__boxtitre {
  display: flex;
  justify-content: space-between;
}
.nouvelles2__titre {
  display: inline-block;
  align-self: self-end;
  margin: 0;
}
.nouvelles2__lien {
  display: inline-block;
  color: #5180AB;
  text-decoration: none;
  align-self: self-end;
}
.nouvelles2__grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 20px;
  background-color: #C7C7C7;
  padding: 20px;
}
.nouvelles2__Item {
  background-color: #D9D9D9;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.nouvelles2__Item:hover {
  transform: scale(0.95);
  filter: brightness(0.8);
}
.nouvelles2__img {
  text-align: center;
  background-size: cover;
  width: 100%;
  border: 1px solid #1A1423;
  height: 60%;
  grid-area: image;
}
.nouvelles2__titreCarte {
  text-align: center;
  padding-top: 10px;
  grid-area: titre;
}
.nouvelles2__paraCarte {
  text-align: center;
  grid-area: content;
}
.nouvelles2__filtrer {
  background-color: #1C5D99;
  color: #fff;
  padding: 15px;
}
.nouvelles2 h2 {
  color: #1A1423;
}

.hero {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  overflow: hidden;
  margin-bottom: 20px;
}
.hero__swiper {
  width: 100%;
  height: 400px;
  position: relative;
}
.hero__swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}
.hero__swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__swiper .swiper-slide img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__swiper .swiper-button-prev,
.hero__swiper .swiper-button-next {
  color: #1A1423;
  display: none;
}
.hero__swiper .swiper-pagination {
  bottom: 10px;
  text-align: center;
}
.hero__swiper .swiper-pagination .swiper-pagination-bullet {
  background: #1A1423;
}
.hero__nouvelles {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: hidden;
}
.hero__nouvelles img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: top;
     object-position: top;
}
.hero__nouvelles--1 {
  width: 100%;
  height: 100%;
}
.hero__nouvelles--2 {
  width: 100%;
  height: 100%;
}
.hero__nouvelles--3 {
  width: 100%;
  height: 100%;
}
.hero__arrowRight, .hero__arrowLeft {
  color: #1A1423;
}
.hero__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(99, 99, 99, 0.471);
  color: white;
}
.hero__text h3 {
  text-align: center;
}

.swiper-pagination-bullet-active {
  background: #1A1423;
}

.application__titre {
  text-align: center;
}
.application__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 14px;
  justify-items: center;
  align-items: center;
}
.application__groupe {
  max-width: 50%;
}
.application__groupe img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: top;
     object-position: top;
}

.application2__titre {
  text-align: center;
}
.application2__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.application2__groupe {
  max-width: 20%;
  text-align: center;
}
.application2__groupe img {
  width: 50%;
  height: 50%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: top;
     object-position: top;
}

.Apropos {
  width: 100%;
}
.Apropos__container {
  background-color: rgba(99, 99, 99, 0.471);
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
.Apropos__content {
  display: inline;
  width: 50%;
  color: white;
  word-wrap: break-word;
  line-height: 1.5;
}
.Apropos img {
  align-self: center;
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 2px solid #1A1423;
  border-radius: 50%;
}
.Apropos .content2 {
  display: none;
}
.Apropos .content3 {
  display: none;
}
.Apropos .content4 {
  display: inline;
}

.title {
  position: relative;
  padding: 5vh;
  text-align: center;
  background-image: url(../sources/medias/web_projet.png);
  background-position: center;
  background-size: cover;
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 99, 99, 0.671);
  z-index: 1;
}

.title h1 {
  position: relative;
  z-index: 2; /* Assure que le texte soit au-dessus de la superposition */
  font-weight: bold;
}

.titleMedieval {
  position: relative;
  padding: 5vh;
  text-align: center;
  background-image: url(.././sources/medias/background3.jpg);
  background-position: center;
  background-size: cover;
}

.titleMedieval::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 99, 99, 0.671);
  z-index: 1;
}

.titleMedieval h1 {
  position: relative;
  z-index: 2; /* Assure que le texte soit au-dessus de la superposition */
  font-weight: bold;
}

.titlePortail {
  position: relative;
  padding: 5vh;
  text-align: center;
  background-image: url(../sources/medias/portail2.png);
  background-position: center;
  background-size: cover;
}

.titlePortail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 99, 99, 0.671);
  z-index: 1;
}

.titlePortail h1 {
  position: relative;
  z-index: 2; /* Assure que le texte soit au-dessus de la superposition */
  font-weight: bold;
}

.titleEnv3D {
  position: relative;
  padding: 5vh;
  text-align: center;
  background-image: url(../sources/medias/background3.jpg);
  background-position: center;
  background-size: cover;
}

.titleEnv3D::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 99, 99, 0.671);
  z-index: 1;
}

.titleEnv3D h1 {
  position: relative;
  z-index: 2; /* Assure que le texte soit au-dessus de la superposition */
  font-weight: bold;
}

.titleUnity {
  position: relative;
  padding: 5vh;
  text-align: center;
  background-image: url(../sources/medias/TP2_07.png);
  background-position: center;
  background-size: cover;
}

.titleUnity::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 99, 99, 0.671);
  z-index: 1;
}

.titleUnity h1 {
  position: relative;
  z-index: 2; /* Assure que le texte soit au-dessus de la superposition */
  font-weight: bold;
}

.titleSon {
  position: relative;
  padding: 5vh;
  text-align: center;
  background-image: url(../sources/medias/son.jpg);
  background-position: center;
  background-size: cover;
}

.titleSon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 99, 99, 0.671);
  z-index: 1;
}

.titleSon h1 {
  position: relative;
  z-index: 2; /* Assure que le texte soit au-dessus de la superposition */
  font-weight: bold;
}

section {
  padding: 0 5%;
}

.unity {
  width: 100%;
  overflow: hidden;
}
.unity__container {
  background-color: rgba(99, 99, 99, 0.471);
  height: 100%;
  padding: 2%;
}
.unity__content {
  color: white;
  line-height: 1.5;
  align-self: center;
}
.unity__img {
  width: 100%;
}
.unity img {
  max-width: 100%;
  height: auto;
}
.unity__grid {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
.unity__iframe {
  width: 100%;
  height: 1000px;
}
.unity__swiper {
  width: 100%;
  position: relative;
}
.unity__swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}
.unity__swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.unity__swiper .swiper-slide img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.unity__swiper .swiper-button-prev,
.unity__swiper .swiper-button-next {
  color: #1A1423;
  display: none;
}
.unity__swiper .swiper-pagination {
  bottom: 10px;
  text-align: center;
}
.unity__swiper .swiper-pagination .swiper-pagination-bullet {
  background: #1A1423;
}

.unity__modal {
  display: none; /* Masqué par défaut */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
  justify-content: center;
  align-items: center;
}

.unity__modal-content {
  max-width: 70%;
  max-height: 70%;
  position: relative;
}

.unity__modal-content img {
  width: 100%;
  height: auto;
}

.unity__modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.unity2 {
  width: 100%;
  overflow: hidden;
}
.unity2__container {
  background-color: rgba(99, 99, 99, 0.471);
  height: 100%;
  padding: 2%;
}
.unity2__content {
  color: white;
  line-height: 1.5;
}
.unity2__img {
  width: 100%;
}
.unity2 img {
  max-width: 60%;
  height: auto;
}
.unity2__grid {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
.unity2__iframe {
  width: 100%;
  height: 700px;
  align-self: center;
}
.unity2__swiper {
  width: 100%;
  height: 400px;
  position: relative;
}
.unity2__swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}
.unity2__swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.unity2__swiper .swiper-slide img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.unity2__swiper .swiper-button-prev,
.unity2__swiper .swiper-button-next {
  color: #1A1423;
  display: none;
}
.unity2__swiper .swiper-pagination {
  bottom: 10px;
  text-align: center;
}
.unity2__swiper .swiper-pagination .swiper-pagination-bullet {
  background: #1A1423;
}

.unity3 {
  width: 100%;
  overflow: hidden;
}
.unity3__container {
  background-color: rgba(99, 99, 99, 0.471);
  height: 100%;
  padding: 2%;
}
.unity3__content {
  color: white;
  line-height: 1.5;
  align-self: center;
}
.unity3__img {
  width: 100%;
}
.unity3 img {
  max-width: 100%;
  height: auto;
}

.body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

section:not(:first-of-type) {
  padding: 0 5%;
}

h2 {
  color: white;
}

hr {
  background-color: white;
  color: white;
  border: 5px solid white;
}

@media screen and (min-width: 768px) {
  a, p, button {
    font-size: 18px;
  }
  .temoignages__titre {
    font-size: 18px;
    color: #1A1423;
  }
  .yt {
    height: 400px;
    aspect-ratio: 16/9;
  }
  .navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
    padding: 0 5%;
  }
  .navbar__logo {
    font-family: "Impact";
    font-size: 32px;
    color: #fff;
    text-align: left;
  }
  .navbar__burger {
    grid-area: menu;
    display: none;
  }
  .navbar__collapse {
    text-align: right;
  }
  .navbar__accueil, .navbar__nouvelles, .navbar__services, .navbar__equipes, .navbar__FAQ, .navbar__propos {
    color: #fff;
    font-size: 18px;
    font-family: "Metrophobic";
  }
  .navbar .nav-item {
    padding: 0;
  }
  .hero {
    max-height: 404px;
  }
  .nouvelles, .nouvelles2 {
    width: 100%;
  }
  .nouvelles__boxtitre, .nouvelles2__boxtitre {
    display: flex;
    justify-content: space-between;
  }
  .nouvelles__titre, .nouvelles2__titre {
    display: inline-block;
    align-self: self-end;
    margin: 0;
  }
  .nouvelles__lien, .nouvelles2__lien {
    display: inline-block;
    color: #5180AB;
    text-decoration: none;
    align-self: self-end;
  }
  .nouvelles__grid-container, .nouvelles2__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px;
    background-color: #C7C7C7;
    padding: 20px;
  }
  .nouvelles__Item, .nouvelles2__Item {
    background-color: #D9D9D9;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .nouvelles__img, .nouvelles2__img {
    text-align: center;
    background-size: cover;
    width: 100%;
    border: 1px solid #1A1423;
    height: 60%;
    grid-area: image;
  }
  .nouvelles__titreCarte, .nouvelles2__titreCarte {
    text-align: center;
    padding-top: 10px;
    grid-area: titre;
  }
  .nouvelles__paraCarte, .nouvelles2__paraCarte {
    text-align: center;
    grid-area: content;
  }
  .nouvelles__filtrer, .nouvelles2__filtrer {
    background-color: #1C5D99;
    color: #fff;
    padding: 15px;
  }
  .footer {
    grid-template-areas: "pages coordonnees plus" "pages coordonnees plus" "pages coordonnees plus" "pages coordonnees plus" "copyright copyright copyright";
    row-gap: 50px;
  }
  .unity {
    width: 100%;
    overflow: hidden;
  }
  .unity__container {
    background-color: rgba(99, 99, 99, 0.471);
    height: 100%;
    padding: 2%;
  }
  .unity__content {
    color: white;
    line-height: 1.5;
  }
  .unity__img {
    width: 100%;
  }
  .unity img {
    max-width: 100%;
    height: auto;
  }
  .unity__grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .unity__swiper {
    width: 100%;
    height: 400px;
    position: relative;
  }
  .unity__swiper .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  .unity__swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .unity__swiper .swiper-slide img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .unity__swiper .swiper-button-prev,
  .unity__swiper .swiper-button-next {
    color: #1A1423;
  }
  .unity__swiper .swiper-pagination {
    bottom: 10px;
    text-align: center;
  }
  .unity__swiper .swiper-pagination .swiper-pagination-bullet {
    background: #1A1423;
  }
  .unity2 {
    width: 100%;
    overflow: hidden;
  }
  .unity2__container {
    background-color: rgba(99, 99, 99, 0.471);
    height: 100%;
    padding: 2%;
  }
  .unity2__content {
    color: white;
    line-height: 1.5;
  }
  .unity2__img {
    width: 100%;
  }
  .unity2 img {
    max-width: 100%;
    height: auto;
  }
  .unity2__grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .unity2__iframe {
    width: 100%;
    height: 1000px;
    align-self: center;
  }
  .unity2__swiper {
    width: 100%;
    height: 400px;
    position: relative;
  }
  .unity2__swiper .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  .unity2__swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .unity2__swiper .swiper-slide img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .unity2__swiper .swiper-button-prev,
  .unity2__swiper .swiper-button-next {
    color: #1A1423;
  }
  .unity2__swiper .swiper-pagination {
    bottom: 10px;
    text-align: center;
  }
  .unity2__swiper .swiper-pagination .swiper-pagination-bullet {
    background: #1A1423;
  }
  .Apropos {
    width: 100%;
  }
  .Apropos__container {
    background-color: rgba(99, 99, 99, 0.471);
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
  }
  .Apropos__content {
    display: inline;
    width: 50%;
    color: white;
    word-wrap: break-word;
    line-height: 1.5;
  }
  .Apropos .content2 {
    display: inline;
  }
  .Apropos .content3 {
    display: inline;
  }
  .Apropos .content4 {
    display: none;
  }
  .Apropos img {
    float: right;
    align-self: center;
    width: 35%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border: 2px solid #1A1423;
    border-radius: 50%;
  }
}
@media screen and (min-width: 1400px) {
  a, p, button {
    font-size: 24px;
  }
  header {
    display: block;
  }
  .navbar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
  }
  .navbar__logo {
    grid-area: logo;
    font-family: "Impact";
    font-size: 60px;
    color: #fff;
    text-align: left;
  }
  .navbar__burger {
    display: none;
  }
  .navbar__collapse {
    text-align: right;
  }
  .navbar__accueil, .navbar__nouvelles, .navbar__services, .navbar__equipes, .navbar__FAQ, .navbar__propos {
    color: #fff;
    font-size: 24px;
    font-family: "Metrophobic";
  }
  .navbar .nav-item {
    padding: 0;
  }
  .hero {
    max-height: 565px;
  }
  .nouvelles {
    width: 100%;
  }
  .nouvelles__boxtitre {
    display: flex;
    justify-content: space-between;
  }
  .nouvelles__titre {
    display: inline-block;
    align-self: self-end;
    margin: 0;
  }
  .nouvelles__lien {
    display: inline-block;
    color: #5180AB;
    text-decoration: none;
    align-self: self-end;
  }
  .nouvelles__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px;
    background-color: #C7C7C7;
    padding: 20px;
  }
  .nouvelles__Item {
    background-color: #D9D9D9;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .nouvelles__img {
    text-align: center;
    background-size: cover;
    width: 100%;
    border: 1px solid #1A1423;
    height: 60%;
    grid-area: image;
  }
  .nouvelles__titreCarte {
    text-align: center;
    padding-top: 10px;
    grid-area: titre;
  }
  .nouvelles__paraCarte {
    text-align: center;
    grid-area: content;
  }
  .nouvelles__filtrer {
    background-color: #1C5D99;
    color: #fff;
    padding: 15px;
  }
  .nouvelles2 {
    width: 100%;
  }
  .nouvelles2__boxtitre {
    display: flex;
    justify-content: space-between;
  }
  .nouvelles2__titre {
    display: inline-block;
    align-self: self-end;
    margin: 0;
  }
  .nouvelles2__lien {
    display: inline-block;
    color: #5180AB;
    text-decoration: none;
    align-self: self-end;
  }
  .nouvelles2__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 20px;
    background-color: #C7C7C7;
    padding: 20px;
  }
  .nouvelles2__Item {
    background-color: #D9D9D9;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .nouvelles2__img {
    text-align: center;
    background-size: cover;
    width: 100%;
    border: 1px solid #1A1423;
    height: 60%;
    grid-area: image;
  }
  .nouvelles2__titreCarte {
    text-align: center;
    padding-top: 10px;
    grid-area: titre;
  }
  .nouvelles2__paraCarte {
    text-align: center;
    grid-area: content;
  }
  .nouvelles2__filtrer {
    background-color: #1C5D99;
    color: #fff;
    padding: 15px;
  }
  .unity {
    width: 100%;
    overflow: hidden;
  }
  .unity__container {
    background-color: rgba(99, 99, 99, 0.471);
    height: 100%;
    padding: 2%;
  }
  .unity__content {
    width: 100%;
    color: white;
    line-height: 1.5;
  }
  .unity__img {
    width: 100%;
  }
  .unity img {
    max-width: 100%;
    height: auto;
  }
  .unity__grid {
    display: flex;
    flex-direction: row;
  }
  .unity__swiper {
    width: 100%;
    height: 500px;
    position: relative;
  }
  .unity__swiper .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  .unity__swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .unity__swiper .swiper-slide img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .unity__swiper .swiper-button-prev,
  .unity__swiper .swiper-button-next {
    color: #1A1423;
    display: block;
  }
  .unity__swiper .swiper-pagination {
    bottom: 10px;
    text-align: center;
  }
  .unity__swiper .swiper-pagination .swiper-pagination-bullet {
    background: #1A1423;
  }
  .unity2 {
    width: 100%;
    overflow: hidden;
  }
  .unity2__container {
    background-color: rgba(99, 99, 99, 0.471);
    height: 100%;
    padding: 2%;
  }
  .unity2__content {
    width: 100%;
    color: white;
    line-height: 1.5;
  }
  .unity2__img {
    width: 100%;
  }
  .unity2 img {
    max-width: 60%;
    height: auto;
  }
  .unity2__grid {
    display: flex;
    flex-direction: column;
  }
  .unity2__iframe {
    width: 100%;
    height: 1000px;
    align-self: center;
  }
  .unity2__swiper {
    width: 100%;
    height: 500px;
    position: relative;
  }
  .unity2__swiper .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  .unity2__swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .unity2__swiper .swiper-slide img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .unity2__swiper .swiper-button-prev,
  .unity2__swiper .swiper-button-next {
    color: #1A1423;
    display: block;
  }
  .unity2__swiper .swiper-pagination {
    bottom: 10px;
    text-align: center;
  }
  .unity2__swiper .swiper-pagination .swiper-pagination-bullet {
    background: #1A1423;
  }
  .yt {
    height: 600px;
    aspect-ratio: 16/9;
  }
  .Apropos {
    width: 100%;
  }
  .Apropos__container {
    background-color: rgba(99, 99, 99, 0.471);
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
  }
  .Apropos__content {
    display: inline;
    width: 50%;
    color: white;
    word-wrap: break-word;
    line-height: 1.5;
  }
  .Apropos .content2 {
    display: inline;
  }
  .Apropos .content3 {
    display: inline;
  }
  .Apropos .content4 {
    display: none;
  }
  .Apropos img {
    float: right;
    align-self: center;
    width: 35%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border: 2px solid #1A1423;
    border-radius: 20%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*fix navbar*/
.navbar-expand-md {
  flex-wrap: wrap;
  justify-content: center;
}

.body {
  /* max-width: 1400px;
   margin: 0 auto;*/
  margin: 0;
}

body {
  background-color: rgb(40, 40, 40);
  overflow-x: hidden;
}

h1 {
  color: white;
}/*# sourceMappingURL=style.css.map */