@use "partials-scss/variables";
@use "partials-scss/footer";
@use "partials-scss/navigationBar";
@use "partials-scss/projet";
@use "partials-scss/hero";
@use "partials-scss/application";
@use "partials-scss/apropos";
@use "partials-scss/web";
@use "partials-scss/unity";

@use "partials-scss/accueil";


@use "partials-scss/mediaQuery"; 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*fix navbar*/
.navbar-expand-md {
    flex-wrap: wrap; 
    justify-content: center; 
}


.body {
   /* max-width: 1400px;
    margin: 0 auto;*/
    margin: 0 ;
}

body{
background-color: rgb(40, 40, 40);
}

h1{
    color: white;
}

